/* Greyscale */
:root {
  --grey-50: #f9fafb;
  --grey-100: #f2f4f5;
  --grey-200: #e8eaed;
  --grey-300: #d4d7dd;
  --grey-400: #a5aab4;
  --grey-500: #767c89;
  --grey-600: #555d6e;
  --grey-700: #3f4754;
  --grey-800: #2c343f;
  --grey-900: #10181c;
}
:root {
  --grey: var(--grey-500);
  --black: #14141b;
}
